In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv('car driving risk analysis.csv')

In [3]:
df

    speed  car_age  experience  risk
0     200       15         5.0    95
1      90       17         9.0    20
2     300       12        15.0    98
3     110        7        13.0    60
4     240        6         NaN    72
5     115       19        17.0    10
6      50       20         5.0     7
7     230       25         9.0    85
8     190       14         7.0    45
9     260       12         3.0    91
10    290       18         2.0    82
11    185       22        19.0    59
12    310       25        17.0    93
13     95       27        15.0    18
14     30       11        10.0     2

In [7]:
Missing_value_fill = df.experience.median()

In [8]:
Missing_value_fill

9.5

In [9]:
df.experience = df.experience.fillna(Missing_value_fill)

In [10]:
df.experience

0      5.0
1      9.0
2     15.0
3     13.0
4      9.5
5     17.0
6      5.0
7      9.0
8      7.0
9      3.0
10     2.0
11    19.0
12    17.0
13    15.0
14    10.0
Name: experience, dtype: float64

In [11]:
reg = linear_model.LinearRegression()

In [12]:
reg.fit(df[['speed','car_age','experience']], df.risk)

LinearRegression()

In [13]:
reg.predict([[160,10,5]])

array([54.67893996])

# Result Validation

In [14]:
reg.coef_

array([ 0.35048064, -0.6028538 , -0.32659018])

In [15]:
reg.intercept_

6.263525733178767

In [16]:
0.35048064*160 + -0.6028538*10 + -0.32659018*5 + 6.263525733178767

54.678939233178774